body {
    background-color: lightblue
}

table {
    min-width: 400px;
}

.title {
    font-family: 'Pacifico', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}